{% load static %}

<li>
            <article class="post">
                <a href="{% url "post-detail-page" post.slug %}">
                <img src="{% static "blog/images/"|add:post.image_name %}" alt="{{ post.title }}" />

                <div calss="post--content"></div>
                    <h3>{{ post.title }}</h3>
                    <p>
                        <!-- There's nothing like the views you get when hiking in the
                         mountains! And I wasn't even prepared for the waht happened whilst I
                          was enjoying the view! -->
                          {{ post.excerpt }}
                    </p>
                </div>
                </a>
            </article>
        </li>